{% assign post = site.posts 
  | where_exp: "post", "post.slug == include.lookup"
  | first
  | default: include
%}

<div class="post-excerpt">
  {% assign url = include.url | default: post.url %}
  {% assign title = include.title | default: post.title %}
  <a href="{{ url | relative_url }}">{{ title }}</a>

  {%
    include post-info.html
    author=post.author
    people=post.people
    published=post.date
    updated=post.last_modified_at
    tags=post.tags
  %}

  {% assign body = include.content | default: post.content | default: "" %}
  {% if include.show_full_content %}
    {% assign excerpt = body | markdownify | strip_html %}
  {% else %}
    {% assign excerpt = body
      | regex_scan: "<!-- excerpt start -->(.*)<!-- excerpt end -->", true
      | default: include.excerpt
      | default: post.excerpt
      | default: ""
      | strip_html
    %}
  {% endif %}
  {% assign search = body
    | strip_html 
    | strip_newlines
    | regex_strip
  %}
  <p data-search="{{ search }}">
    {{ excerpt }}
  </p>
</div>
