{% assign matched_post = site.posts
  | where_exp: "post", "post.slug == include.lookup"
  | first
%}

<div class="post-excerpt">
  {% assign url = matched_post.url | default: include.url | default: include.link %}
  {% assign title = matched_post.title | default: include.title | default: include.lookup %}
  {% if url %}
    <a href="{{ url | relative_url }}" class="post-excerpt-title">{{ title }}</a>
  {% else %}
    <span class="post-excerpt-title">{{ title }}</span>
  {% endif %}

  {% assign info_author = matched_post.author | default: include.author %}
  {% assign info_people = matched_post.people | default: include.people %}
  {% assign info_published = matched_post.date | default: include.date %}
  {% assign info_updated = matched_post.last_modified_at | default: include.last_modified_at %}
  {% assign info_tags = matched_post.tags | default: include.tags %}

  {%
    include post-info.html
    author=info_author
    people=info_people
    published=info_published
    updated=info_updated
    tags=info_tags
    hide_author_image=true
    hide_updated=true
  %}

  {% assign body = matched_post.content | default: include.content | default: "" %}
  {% if include.show_full_content %}
    <div class="post-excerpt-body" data-search="{{ body | strip_html | strip_newlines | regex_strip }}">
      {{ body | markdownify }}
    </div>
  {% else %}
    {% assign excerpt = body
      | regex_scan: "<!-- excerpt start -->(.*)<!-- excerpt end -->", true
      | default: matched_post.excerpt
      | default: matched_post.description
      | default: include.excerpt
      | default: include.description
      | default: ""
      | strip_html
    %}
    {% assign search = body
      | strip_html
      | strip_newlines
      | regex_strip
    %}
    <p data-search="{{ search }}">
      {{ excerpt }}
    </p>
  {% endif %}
</div>
